<%- include("partials/header"); -%>

<h1>Home</h1>

<p><%= Para1%></p>

<% posts.forEach(function(post){ %>
 <h1><%= post.title %></h1>
 <p>
  <%=_.truncate( post.content,{"length":100,"omission":"..."}) %>
  <a href="/posts/:<%=post.title %>" >Read More</a>
 </p>


<% }); %>


<%- include("partials/footer"); -%>
